<div class= "block mt-6">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <div id="comment-box" class= "box">
                <ul>
                    <li class="m-3">
                        <article class="message box is-centered has-background-light is-centered">
                            <div class="message-header column  has-text-centered is-centered">
                                <p class="has-background-success-dark has-text-centered is-size-4 has-text-white p-2">{{title}}</p>
                            </div>
                            <div class="message-body">
                                <p class="p-4">{{text_body}}</p>
                                <p class="is-5 has-text-centered pt-2"><strong>{{user.username}}</strong></p>
                            </div>
                        </article>
                    </li>

                </ul>
            </div>
        </div>  
    </div>
</div>