
<div class="columns is-centered block mt-6">
    <h2 class="column block is-size-4 has-text-centered has-text-weight-semibold has-background-grey-dark has-text-white-bis block is-three-quarters mgt-small">Enter Your Login Info Or Sign Up As A New User</h2>
</div>

<div class="columns is-centered mt-4">
    <div class="column has-text-centered is-one-third">
        <form class="box login-form">
            <h3 class="has-background-success-dark has-text-white is-size-4 block">Log In</h3>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                <input class="input" id="email-login" type="email" placeholder="e.g. johndoe@example.com">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                <input class="input" id="password-login" type="password" placeholder="********">
                </div>
            </div>
            <button class="button is-success is-outlined is-light">Log In</button>
        </form>
    </div>
    <div class="column has-text-centered is-one-third">
        <form class="box signup-form">
            <h3 class="has-background-success-dark has-text-white is-size-4 block">Sign Up</h3>
            <div class="field">
                <label class="label" >Username</label>
                <div class="control">
                <input class="input" id="username-signup" placeholder="e.g. food_lover27">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                <input class="input" id="email-signup" type="email" placeholder="e.g. johndoe@example.com">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                <input class="input" type="password" id="password-signup" placeholder="********">
                </div>
            </div>
            <button class="button is-success is-outlined is-light">Sign Up</button>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>