#atx-btn:hover {
    background-image: url("../images/atx.jpg");
    background-size: cover;
}

#la-btn:hover {
    background-image: url("../images/la.jpg");
    background-size: cover;
}

#nyc-btn:hover {
    background-image: url("../images/nyc.jpg");
    background-size: cover;
}